<!DOCTYPE html>
<html lang="en">


<head>
  <%- include("../header"); %>
  <style>
    #updateForm {
      width: 90%;
      height: 100%;
      padding: 5px;
      margin: 0 auto;
      background: linear-gradient(#e66465, #9198e5);
    }

    .form-wrap {
      background-color: white;
      width: 100%;
      height: 100%;
      margin: auto;
      padding: 10px;
    }
  </style>
</head>

<body>
  <%- include("../menu"); %>

  <form id="updateForm">
    <div class="form-wrap">
      <div class="form-wrap">
        <div class="tips-border"></div>
        <!-- Material input -->
        <!-- <p>예시) 역군은 이샷다</p> -->
        <div class="md-form">

          <input type="text" id="sentence" class="form-control" required>
          <label for="sentence">문장을 입력해주세요</label>
        </div>
        <!-- <p>예시) 임금님 덕분이다</p> -->
        <div class="md-form">

          <input type="text" id="answer" class="form-control" required>
          <label for="answer">해석을 입력해주세요</label>
        </div>
        <!-- <p>에시) 강호사시가</p> -->
        <div class="md-form">

          <input type="text" id="where" class="form-control" required>
          <label for="where">어느 작품에서 나온 글귀인가요</label>
        </div>

        <button type="submit" id="create_button" class="btn btn-primary">저장</button>
        <button type="button" id="return_button" onclick="location.href='/api/play/<%= result._id %>'"
          class="btn btn-primary">수정
          취소</button>
      </div>
    </div>
  </form>

  <%- include("../footer"); %>
  <script>
    $(function () {
      $("#updateForm").submit((event) => {
        event.preventDefault();
        // 수정
        const sentence = $("#sentence").val();
        const answer = $("#answer").val();
        const where = $("#where").val();
        $.ajax({
          url: "/api/play/<%= result._id %>",
          type: "PUT",
          data: {
            sentence,
            answer,
            where
          },
        }).done(() => {
          location.href = "/api/play/<%= result._id %>";
        }).fail((request, status, error) => {
          alert(request.responseText);
        });
      });
    });
  </script>
</body>

</html>